$primary1-color:#f91155;
$primary2-color:#ff4b77;
$primary3-color:#d8003f;
$secondary-color: #3c3e43;
$accent-color: #ff7647;
$main-color: #ffffff;

$border-radius: 10px;

$media-width-desktop: 1220px; 
$media-width-tablet: 767px;

$font1-family: "Roboto", "Arial", sans-serif;
$font2-family: "OpenSans", "Geneva", sans-serif;

@mixin flex($direction){
  display: flex;
  flex-direction: $direction;
}

@mixin transition {
  transition: 0.3s;
}

.room-main {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows:  1fr 1fr 1fr; 
  background: url(../assets/resources/Background.svg) center/cover no-repeat;
  overflow: auto;

  @media screen and (max-width: $media-width-tablet) {
    align-self: center;
  }
}

.room-title {
  grid-area: 1/2;
  align-self: end;
  justify-self: center;
  margin-bottom: 10px;
  font-family: $font1-family;
  font-size: 36px;
  line-height: 55px;
  font-weight: 700;
  color:#000000;
  text-transform: uppercase;

  @media screen and (max-width: $media-width-tablet)  {
    font-size: 24px;
    grid-area: 1/1/2/4;
    margin-bottom: 0;
  }
}

.room-list {
  align-self:flex-start;
  justify-self: center;
  justify-content: center;
  @include flex(row);
  align-items: stretch;
  grid-area: 2/2;
  width: 1212px;
  max-width: 100%;
  list-style-type: none;
  flex-wrap: wrap;

  @media screen and (max-width: $media-width-desktop) {
    grid-area: 2/1/2/4 ;
  }
}

.room {
  position: relative;
  max-width: 372px;
  height: auto;
  min-height: 327px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  1fr; 
  margin: 16px;
  background-color: #2D507C;
  border-radius: $border-radius;
  @include transition;

  &:hover {
    box-shadow:0 4px 15px 0 rgba(0, 0, 0, 0.6);
    @include transition;

    .room__sign-wrap{
      opacity: 1;
      @include transition;
    }

    &.room_reserved {
      box-shadow: none;
    }
  }

  &.room_active {
    &:hover {
      .room-info__title {
        color:rgba(255, 255, 255, 0.5);
        text-decoration: none;
      }
    }

    .room-info__button{
      color: rgba(255, 255, 255, 0.5);
      background-color: $primary3-color;
    }
  }

  &.room_reserved {
    .room-info__price-wrap{
      display: none;
    }

    .room-info__subtitle{
      border-bottom: none;
    }

    .room-info__title {
      text-decoration: none;
      cursor: default;

      &:focus {
        color:$main-color;
      }
    }

    .room-info__price{
      visibility: hidden;
    }

    .room-info__button{
      opacity: 0;
      visibility: hidden;
    }

    .room__reserved{
      display: block;
      left: 0;
      text-align: center;
      bottom: 0;
      
      @media screen and (max-width: $media-width-desktop) {
        padding-bottom: 15%;
      }
    }

    .room__image-wrap::before{
      position: absolute;
      top: 0;
      width: 372px;
      height: 100%;
      background: transparent;
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 10px;
      content: "";

      @media screen and (max-width: $media-width-desktop) {
        max-width: 336px;
        min-height: 420px;
      }

      @media screen and (max-width: $media-width-tablet)  {
        max-width: 288px;
        min-height: 347px;
      }
    }

    .room__sign-wrap{
      opacity: 0;
    }
  }
  
  @media screen and (max-width: $media-width-desktop) {
    max-width: 336px;
    min-height: 420px;
  }

  @media screen and (max-width: $media-width-tablet) {
    max-width: 288px;
    min-height: 347px;
  }
}

.room__sign-wrap {
  position: absolute;
  display: inline-flex;
  z-index: 2;
  margin: 24px;
  opacity: 0;
  @include transition;

  &::after {
    z-index: 10;
    width: 36px;
    height: 30px;
    background: url(../assets/resources/icon-discount.svg) no-repeat ;
    content: "";
  }
}

.room__sign {
  padding: 4px 4px 4px 16px;
  font-family: $font1-family;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color:$main-color;
  background-color: $accent-color;
  border-radius: 3px 0 0 3px;
}

.room__image-wrap {
   position: relative;
   grid-area: 1/1;

   @media screen and (max-width: $media-width-tablet) {
    max-width: 288px;
    min-height: 347px;
  }
}

.room__image-wrap::after {
  position: absolute;
  top: 0;
  width: 372px;
  height: 100%;
  background: linear-gradient(rgba(60, 77, 98, 0.01), #0a2240);
  border-radius: 10px;
  content: "";

  @media screen and (max-width: $media-width-desktop){
    max-width: 336px;
    min-height: 420px;
  } 

  @media screen and (max-width: $media-width-tablet) {
    max-width: 288px;
    min-height: 347px;
  }
}

.room__image > img {
  display: block;
  height: 100%;
  border-radius: $border-radius;
  object-fit: cover;

  @media screen and (max-width: $media-width-desktop){
    max-width: 336px;
    min-height: 420px;
  }

  @media screen and (max-width: $media-width-tablet)  {
    max-width: 288px;
    min-height: 347px;
  }
}

.room__info,
.room-info {
  position:initial;
  align-self: end;
  grid-area: 1/1;
  z-index: 2;
  @include flex(column);
  border-radius: $border-radius;

  @media screen and (max-width: $media-width-desktop) {
    @include flex(column);
  }
}

.room-info__title-wrap {
  padding-top: 40px;
  padding-bottom: 10px;
  margin: 0 24px;

  @media screen and (max-width: $media-width-tablet) {
    margin:0 21px;
  }
}

.room-info__title {
  font: 700 24px/32px "Roboto";
  flex-grow: 2;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
  }

  @media screen and (max-width: $media-width-tablet) {
    font-size: 20px;
    line-height: 26px;
  }
}

.room-info__subtitle {
  padding-bottom: 22px;
  margin: 0 24px;
  font-family: $font2-family;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  border-bottom: 1px solid #d0d0d1;
  border-color: rgba(255, 255, 255, 0.2);

  @media screen and (max-width: $media-width-tablet) {
    font-size: 14px;
    line-height: 21px;
    padding-right: 30px;
    margin: 0 21px;
  }
}

.room__reserved {
  display: none;
  font-family: $font2-family;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background: #3c3e43;
  padding: 25px 75px 29px;
  margin: 0;
  border-radius: 0 0 $border-radius $border-radius;
}

.room__reserved-link {
  color: $primary2-color;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    color: #FF97B0;
  }
}


.room-info__price-wrap {
  align-self: center;
  @include flex(row);
  margin: 0;
  padding: 18px 24px 22px;
  font-family: $font2-family;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;

  @media screen and (max-width: $media-width-desktop) {
    @include flex(column);
  }

  @media screen and (max-width: $media-width-tablet) {
    padding-left: 21px;
    padding-right: 21px;
  }
}

.room-info__price {
  @include flex(row);
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: center;
  align-self: center;
  margin: 0;
  padding-right: 15px;

    @media screen and (max-width: $media-width-desktop) {
      padding-right: 170px;
    }
  
    @media screen and (max-width: $media-width-tablet) {
      padding-right: 130px; 
    }
}

.room-info__price-title {
  font-family: $font2-family;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;

  @media screen and (max-width: $media-width-tablet) {
    font-size: 14px;
    line-height: 21px;
  }
}

.room-info__price-initial {
  align-self: baseline;
  font-family: $font1-family;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;

  @media screen and (max-width: $media-width-tablet) {
    font-size: 17px;
  }
}

.room-info__price-value {
  align-self: baseline;
  padding: 0 5px;
  font-family: $font1-family;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color:$primary2-color;
  
  @media screen and (max-width: $media-width-tablet) {
    font-size: 20px;
  }
}

.room-info__price-currency {
  align-self: baseline;
  font-family:  $font1-family;
  font-size: 23px;
  line-height: 32px;
  font-weight: 400;
  color:#999999;
  
  @media screen and (max-width: $media-width-tablet) {
    font-size: 20px;
  }
}

.room-info__button {
  align-self:center;
  padding: 11px 25px 13px;
  font-family: $font2-family;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  background-color: $primary1-color;
  border-radius: 5px;

  &:hover {
    background-color: $primary3-color;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
    @include transition;
    cursor: pointer;
  }

  @media screen and (max-width: $media-width-desktop){
    padding: 12px 75px;
    margin-top: 16px;
  }

  @media screen and (max-width: $media-width-tablet){
    padding: 8px 65px;
    margin-top: 16px;
    font-size: 14px;
  }
}

