$primary1-color:#f91155;
$primary2-color:#ff4b77;
$primary3-color:#d8003f;
$secondary-color: #3c3e43;
$accent-color: #ff7647;
$main-color: #ffffff;

$border-radius: 10px;

@mixin flex($direction){
  display: flex;
  flex-direction: $direction;
}

@mixin transition {
  transition: 0.3s;
}

.room-main {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows:  1fr 1fr 1fr; 
  background: url(../assets/resources/Background.svg) center/cover no-repeat;
  overflow: auto;

  @media screen and (max-width: 767px) {
    align-self: center;
  }
}

.room-title {
  grid-area: 1/2;
  align-self: end;
  justify-self: center;
  margin-bottom: 10px;
  font: 700 36px/55px "Roboto", sans-serif;
  color:#000000;
  text-transform: uppercase;

  @media screen and (max-width: 767px)  {
    font-size: 24px;
    grid-area: 1/1/2/4;
  }
}

.room-list {
  align-self:flex-start;
  justify-self: center;
  justify-content: center;
  @include flex(row);
  align-items: stretch;
  grid-area: 2/2;
  width: 1212px;
  max-width: 100%;
  list-style-type: none;
  flex-wrap: wrap;

  @media screen and (max-width: 1220px) {
    grid-area: 2/1/2/4 ;
  }
}

.room {
  position: relative;
  max-width: 372px;
  height: auto;
  min-height: 327px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  1fr; 
  margin: 16px;
  background-color: #2D507C;
  border-radius: $border-radius;
  @include transition;

  &:hover {
    box-shadow:0 4px 15px 0 rgba(0, 0, 0, 0.6);
    @include transition;

    .room__sign{
      opacity: 1;
      @include transition;
    }

    &.room_reserved {
      box-shadow: none;
    }
  }

  &.room_active {
    &:hover {
      .room-info__title {
        color:rgba(255, 255, 255, 0.5);
        text-decoration: none;
      }
    }

    .room-info__button{
      color: rgba(255, 255, 255, 0.5);
      background-color: $primary3-color;
    }
  }

  &.room_reserved {
    .room-info__price-wrap{
      content: "";
      background-color: $secondary-color;
    }

    .room-info__subtitle{
      border-bottom: none;
    }

    .room-info__title {
      text-decoration: none;
      cursor: default;

      &:focus {
        color:$main-color;
      }
    }

    .room-info__price{
      visibility: hidden;
    }

    .room-info__button{
      opacity: 0;
      visibility: hidden;
    }

    .room__reserved{
      position: absolute;
      display: block;
      left: 0;
      text-align: center;
      bottom: 0;
      padding: 0 80px 3%;
      
      @media screen and (max-width: 1220px) {
        padding-bottom: 15%;
      }
    }

    .room__image-wrap::before{
      position: absolute;
      top: 0;
      width: 372px;
      height: 100%;
      background: transparent;
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 10px;
      content: "";

      @media screen and (max-width: 1220px) {
        max-width: 336px;
        min-height: 420px;
      }

      @media screen and (max-width: 767px)  {
        max-width: 288px;
        min-height: 347px;
      }
    }

    .room__sign{
      opacity: 0;
    }
  }
  
  @media screen and (max-width: 1220px) {
    max-width: 336px;
    min-height: 420px;
  }

  @media screen and (max-width: 767px) {
    max-width: 288px;
    min-height: 347px;
  }
}

.room__sign {
  position: absolute;
  z-index: 2;
  width: 213px;
  height: 30px;
  margin: 24px;
  padding: 4px 16px;
  font: 700 14px/21px "Roboto";
  opacity: 0;
  background: url(../assets/resources/best_price_sign.svg) no-repeat;
  @include transition;
}

.room__image-wrap {
   position: relative;
   grid-area: 1/1;

   @media screen and (max-width: 767px) {
    max-width: 288px;
    min-height: 347px;
  }
}

.room__image-wrap::after {
  position: absolute;
  top: 0;
  width: 372px;
  height: 100%;
  background: transparent;
  background: linear-gradient(rgba(60, 77, 98, 0.01), #0a2240);
  border-radius: 10px;
  content: "";

  @media screen and (max-width: 1220px){
    max-width: 336px;
    min-height: 420px;
} 

  @media screen and (max-width: 767px) {
    max-width: 288px;
    min-height: 347px;
  }
}

.room__image > img {
  display: block;
  height: 100%;
  border-radius: $border-radius;
  object-fit: cover;
  

  @media screen and (max-width: 1220px){
    max-width: 336px;
    min-height: 420px;
  }

  @media screen and (max-width: 767px)  {
    max-width: 288px;
    min-height: 347px;
  }
}

.room__info,
.room-info {
  position:initial;
  align-self: end;
  grid-area: 1/1;
  z-index: 2;
  @include flex(column);
  border-radius: $border-radius;

  @media screen and (max-width: 1220px) {
    @include flex(column);
  }
}

.room-info__title-wrap {
  padding: 40px 24px 10px;
  margin: 0;

  @media screen and (max-width: 767px) {
    padding-left: 20px;
  }
}

.room-info__title {
  font: 700 24px/32px "Roboto";
  flex-grow: 2;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
  }

  @media screen and (max-width: 767px) {
    font-size: 20px;
    line-height: 26px;
  }

}

.room-info__subtitle {
  padding-bottom: 22px;
  margin: 0 24px;
  font: 400 16px/24px "OpenSans";
  border-bottom: 1px solid #d0d0d1;
  border-color: rgba(255, 255, 255, 0.2);

  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: 21px;
    padding-right: 30px;
  }
}

.room__reserved {
  display: none;
  font: 400 14px/21px "OpenSans";
}

.room__reserved-link {
  color: $primary2-color;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    color: #FF97B0;
  }
}


.room-info__price-wrap {
  align-self: center;
  @include flex(row);
  margin: 0;
  padding:20px 24px 24px;
  font: 700 16px/18px "OpenSans";
  border-radius: 0 0 $border-radius $border-radius;

  @media screen and (max-width: 1220px) {
    @include flex(column);
  }

}

.room-info__price {
  @include flex(row);
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: center;
  align-self: center;
  margin: 0;
  padding-right: 15px;
  font: 700 16px/18px "OpenSans";
  
    @media screen and (max-width: 1220px) {
      padding-right: 170px;
    }
  
    @media screen and (max-width: 767px) {
      padding-right: 120px;
      font-size: 14px;
      line-height: 21px;
    }
}

.room-info__price-initial {
  align-self: baseline;
  font: 700 19px/24px "Roboto";
}

.room-info__price-value {
  align-self: baseline;
  padding: 0 5px;
  font: 700 24px/32px "Roboto";
  color:$primary2-color;
  
  @media screen and (max-width: 767px) {
    font-size: 20px;
  }
}

.room-info__price-currency {
  align-self: baseline;
  font: 400 23px/32px "Roboto";
  
  @media screen and (max-width: 767px) {
    font-size: 20px;
  }
}

.room-info__button {
  align-self: center;
  padding: 12px 25px;
  font: 700 16px/24px "OpenSans";
  text-align: center;
  background-color: $primary1-color;
  border-radius: 5px;

  &:hover {
    background-color: $primary3-color;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
    @include transition;
    cursor: pointer;
  }

  @media screen and (max-width: 1220px){
    padding: 12px 75px;
    margin-top: 16px;
  }

  @media screen and (max-width: 767px){
    padding: 8px 63px;
    margin-top: 16px;
    font-size: 14px;
  }
}

